<!DOCTYPE html>
<html>

<head>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <% include partials/nav.ejs %>
        <h1>Contact page</h1>
        <p>Contact succesful!</p>
        <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
        <p>We will reply you at <%= data.email %></p>
</body>

</html>